.badge {
    position:relative;
}
.badge[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top:-8px;
    right:-8px;
    font-size:.7em;
    color:white;
    width:14px;height:14px;
    text-align:center;
    line-height:14px;
    border-radius:50%;
    box-shadow:0 0 1px #333;
}

.badge-blue:after {
    background: #0082D5;
}

.badge-green:after {
    background: #04BE5B;
}

.badge-violet:after {
    background: #A93ABA;
}

.badge-red:after {
    background: #D2335C;
}

.doc-val-true {
    background-color: transparent;
    width: 24px;
    height: 24px;
    border-radius: 0px 9px;
    margin: -0.25em 0 0 -1.75em;
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid #FFDE00;
    border-top: 12px solid #FFDE00;
}

.doc-val-true::after {
     content: "D";
     color: #000;
     background: none;
     display: block;
     margin: -11px 0 0 1px;
     font-size: 10px;
     position: absolute;
 }

.doc-val-true:hover + .doc-val-hover {
    display: block;
}

.doc-val-hover {
    display: none;
    width: 200px;
    height: 100px;
    position: absolute;
    margin: -11.5em 0 0 -13em;
    border: 2px solid #D38C17;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 0px #000;
    background-color: #FFDE00;
    padding: 5px 7px;
    overflow: hidden;
    z-index: 9999;
}

.show-el-id {
    background-color: saddlebrown;
    display: block;
    color: white;
    padding: 1px 6px 3px 6px;
    border-radius: 10px;
    margin: -10px 0 0 -49px;
    font-size: 10px;
}
